{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row items-center mt-6">

      <!-- About Text -->
      <div class="md:w-1/2 p-4">
        <h2 class="text-2xl font-bold">About</h2>
        <hr class="border-gray-300 my-2" />
        <p class="text-gray-700">
          At GT Movies Store, we offer a vast digital library that spans across genres,
          ensuring there's something for every movie lover. Browse our extensive collection of films,
          including the latest releases, timeless classics, and hidden gems. With just a few clicks,
          you can rent or purchase your favorite titles and instantly stream them in high-definition quality.
        </p>
        <p class="text-gray-700 mt-4">
          Discover the convenience of our digital platform, where you have the flexibility to watch movies
          on your preferred device, whether it's a smart TV, tablet, or smartphone. With our intuitive search
          and recommendation features, finding your next movie night pick has never been easier.
        </p>
      </div>

      <!-- About Image -->
      <div class="md:w-1/2 flex justify-center p-4">
        <img src="{% static 'img/about1.jpg' %}" class="w-full max-w-sm rounded-lg shadow-md" alt="about" />
      </div>

    </div>
  </div>
</div>
{% endblock content %}
