{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row items-center mt-6">

      <!-- About Text -->
      <div class="md:w-1/2 p-4">
        <h2 class="text-2xl font-bold">About</h2>
        <hr class="border-gray-300 my-2" />
        <p class="text-gray-700">
          Welcome to GT Movies Store! On this website, you will have access to a wide variety
          of films that span several genres. We hope that this website gives fellow Tech students
          the opportunity to enhance their movie experience. We offer several types of films and hope
          every student has access to films that excite them!
        </p>
        <p class="text-gray-700 mt-4">
          This  platform will allow students to have access to their favorite films regardless
          of their location. Whether joining from a laptop or phone, students will have
          the flexibility to enjoy their movies from wherever they desire!
        </p>
      </div>

      <!-- About Image -->
      <div class="md:w-1/2 flex justify-center p-4">
        <img src="{% static 'img/about1.jpg' %}" class="w-full max-w-sm rounded-lg shadow-md" alt="about" />
      </div>

    </div>
  </div>
</div>
{% endblock content %}
